@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

body {
    background-color: rgb(235, 212, 247);
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin: 0;
    padding: 20px;
    text-align: center;
}


h1 {
    color: purple;
    font-size: 60px;
    background-color: rgb(216, 157, 252);
    padding: 10px 20px;
    border-radius: 40px;
    width: fit-content;
    margin: 0 auto;
    box-shadow: 0px 0px 15px rgba(163, 82, 255, 0.4);
    font-family: 'Great Vibes', cursive;
}


h2 {
    color: rgb(112, 43, 165);
    font-size: 30px;
    margin: 40px auto 10px;
}


ul, ol {
    font-size: 18px;
    background-color: rgb(255, 209, 242);
    padding: 20px;
    width: fit-content;
    border-radius: 15px;
    margin: 20px auto;
    box-shadow: 0px 0px 10px rgba(156, 89, 199, 0.2);
    text-align: left;
}

ul li, ol li {
    padding: 5px 10px;
    margin: 5px 0;
    border-radius: 10px;
    transition: 0.3s;
}

ul li:hover, ol li:hover {
    background-color: rgb(216, 157, 252);
    color: white;
    cursor: pointer;
    transform: scale(1.05);
}


table {
    border-collapse: collapse;
    width: 80%;
    margin: 40px auto;
    border: 3px solid blueviolet;
    border-radius: 12px;
    overflow: hidden;
}

td, th {
    border: 2px solid blueviolet;
    text-align: center;
    padding: 10px;
}

th {
    background-color: rgb(216, 157, 252);
    font-weight: bold;
}

.rand {
    background-color: rgb(203, 137, 255);
}


form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: fit-content;
    margin: 30px auto;
}

label {
    font-weight: bold;
    color: rgb(100, 33, 136);
    font-size: 18px;
    text-align: left;
}

input, textarea {
    width: 300px;
    padding: 8px;
    border: 2px solid blueviolet;
    border-radius: 10px;
    font-size: 16px;
    background-color: rgb(255, 242, 255);
}

input:focus, textarea:focus {
    outline: none;
    border-color: deeppink;
    box-shadow: 0 0 10px pink;
}

#buton {
    background-color: purple;
    color: white;
    padding: 10px 25px;
    font-size: 20px;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
    margin: 20px auto;
}

#buton:hover {
    background-color: rgb(255, 0, 149);
    transform: scale(1.07);
    box-shadow: 0px 0px 12px hotpink;
}


p {
    font-size: 20px;
    color: rgb(88, 25, 120);
    margin-top: 20px;
}


#playBtn {
    background-color: #ff4da6;
    color: white;
    font-size: 25px;
    border: none;
    padding: 15px 30px;
    border-radius: 50px;
    cursor: pointer;
    margin: 30px auto;
    transition: 0.3s ease;
    font-family: 'Great Vibes', cursive;
}

#playBtn:hover {
    background-color: #ff1a8c;
    transform: scale(1.1);
}


